<div class="row row-centered block_contacto">
    
    <h2>Contáctanos</h2>
    
    <div class="col-lg-2 panel_contacto" style="text-align:left">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Nombres y Apellidos</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese sus Nombres y Apellidos">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Correo electrónico</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingrese su correo electrónico">
          </div>
          <div class="form-group">
            <label for="exampleInputFile">Comentario</label>
            <textarea class="form-control" placeholder="Ingresa su comentario"></textarea>
          </div>
          
          <button type="submit" class="btn btn-default">Enviar</button>
        </form>
    </div>
</div>