<h1>
    <p class="text-center">FAQs</p>
</h1>

<h2>FREQUENTLY ASKED QUESTIONS</h2>

<p>Are there any additional fees onsite?</p>
<p>Can a reservation be cancelled?</p>
<p>Can I book a spot for someone else?</p>
<p>Can I book a spot over the phone?</p>
<p>Can I book more than one parking spot at a time?</p>
<p>Can I make a monthly reservation for only one month?</p>
<p>Can I redeem my reservation without cell service?</p>
<p>Can I reserve handicapped parking?</p>
<p>Can I sell my passes on another website?</p>
<p>Can I show my parking pass on my phone?</p>
<p>Can I show my parking pass on my phone?</p>
<p>Do I have to enter a vehicle description? What if I don’t know it?</p>
<p>Do I have to have the app to use my mobile confirmation?</p>
<p>Do I have to make a new reservation each month?</p>
<p>Do I need to create an account in order to book a reservation?</p>
