<h1>Terminos y Condiciones</h1>



<p1>La página web de instaparking ( "el Sitio") es una agencia de alquiler de espacio de estacionamiento que le permite reservar plazas de aparcamiento en cualquier parte del mundo.</p1>

<p2>El sitio es operado por JustPark Limited ( "nosotros" o "nosotros") y la membresía está abierta a cualquier persona que opta por registrarse en el sitio.
Estas condiciones se aplicarán a cualquier persona que ve o utiliza el Sitio ( "usted").
Tanto si se registra o no quedará obligado por estos términos y condiciones en su totalidad y también se acepta que quedará vinculado por los términos de nuestra política de
privacidad que explica el uso que estamos autorizados para hacer de su información personal.
Estos términos y condiciones se relacionan con su uso pasivo del sitio, si desea reservar una plaza de aparcamiento a través del Sitio, usted también tendrá que entrar en un
acuerdo de licencia Plaza de estacionamiento con el propietario plaza de aparcamiento y que se consideran obligados por nuestro acuerdo Conductor .
Si usted es propietario de una plaza de aparcamiento y desea alquilar su plaza de aparcamiento con nosotros usted estará obligado por nuestra
Aparcamiento acuerdo sobre el Espacio propietario.
Tenga en cuenta que estos términos y condiciones pueden ser modificados de vez en cuando. La notificación de cualquier cambio se hará mediante la publicación de nuevos
términos en el Sitio. Al continuar utilizando el Sitio, usted confirma que acepta los términos y condiciones vigentes en ese momento en su totalidad en el momento de utilizar el Sitio.</p2>


