<li><%= link_to "Nosotros", pages_nosotros_path  %></li>

<li><%= link_to "FAQ", pages_faqs_path  %></li>

<li><%= link_to "Términos y Condiciones", pages_tyc_path  %></li>

<li><%= link_to "Contacto", pages_contacto_path  %></li>